@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #23232B;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-family: 'Montserrat', sans-serif;

}

p {
    font-family: 'Montserrat', sans-serif;
}

.menu ul {
    padding: 0;
    display: flex;
    justify-content: end;
    list-style: none;
}

.menu ul li {
    margin: 0 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.menu ul li a {
    text-decoration: none;
    color: #ffff;

}

.menu ul li a:hover {
    color: #5cdb95;
    transition: 0.8s;
    box-shadow: 0 2px 0 0 currentColor;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
}

section {
    display: flex;
    padding: 10px 10px;
    margin-bottom: 30px;
    width: 1020px;

}

.me h1 {
    line-height: 70px;
    margin-left: 70px;
}

.me p {
    display: block;
    background-color: #23232B;
    height: 50px;
    font-size: 32px;
    margin-left: 60px;

}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper .img {
    margin-left: 60px;
}

.title {
    width: 280px;
    height: 40px;
    border: 2px solid #000000;
    background-color: #003566;
    font-size: 26px;
    font-weight: 400;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    text-align: center;
    margin-left: 50px;
    font-weight: 600;
}

.contacts ul {
    list-style: none;
    display: flex;
    justify-content: start;
}

.contacts ul li {
    margin: 0 15px;
}

.myself h2 {
    font-weight: 600;
    width: 97vw;
    height: 40px;
    border: 2px solid #000000;
    background-color: #003566;
    margin-left: 0px;
    padding-left: 0px;
}

#skills .content .title {
    font-weight: 600;
    width: 97vw;
    height: 40px;
    border: 2px solid #000000;
    background-color: #003566;
    margin-left: 0px;
    padding-left: 0px;
}

#aboutme .text {
    width: 100vw;
    margin: 5px;
}


.skills.list ul li {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.skills.list ul li img {
    width: 25px;

}

#code .content .title {
    font-weight: 600;
    width: 98vw;
    height: 40px;
    border: 2px solid #000000;
    background-color: #003566;
    margin-left: 0px;
    padding-left: 0px;
}

#courses .content .title {
    font-weight: 600;
    width: 98vw;
    height: 40px;
    border: 2px solid #000000;
    background-color: #003566;
    margin-left: 0px;
    padding-left: 0px;
}

.example {
    background-color: rgb(224, 203, 203);
    font-weight: 600;
    color: #23232B;
    width: 100vw;
    height: 150px;
    margin-left: 5px;
    padding-left: 0px;
    font-size: 25px;
}

#courses .courses.items {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
}

#courses .courses.items .course-item img {
    margin-left: 20px;
    padding: 0px;

}

#courses .courses.items .centered-text {
    margin-top: 10px;
}


#projects .content .title {
    font-weight: 600;
    width: 96vw;
    height: 40px;
    border: 2px solid #000000;
    background-color: #003566;
    margin-left: 0px;
    padding-left: 0px;
}

#projects .courses.items {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
}

#projects .courses.items .course-item img {
    margin-left: 20px;
    padding: 0px;

}

#projects .courses.items .centered-text {
    margin-top: 10px;
}

#languages .content .title {
    font-weight: 600;
    width: 96vw;
    height: 40px;
    border: 2px solid #000000;
    background-color: #003566;
    margin-left: 0px;
    padding-left: 0px;
}


.footer-items ul {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-items li {
    color: #000000;
    display: inline-block;
    margin: 0 100px;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.footer-items li:first-child {
    margin-left: 0;
    color: #000000;
}

.footer-items li:last-child {
    margin-right: 0;
}

.footer-items li img {
    vertical-align: middle;
    margin-right: 10px;
}

.footer-items li:first-child a {
    text-decoration: none;
    color: #000000;
}


@media (max-width: 500px) {
    .me h1 {
        font-size: 30px;
    }

    .myself h2 {
        width: 96vw;
        font-size: 18px;


    }

    #skills .content .title {
        width: 96vw;
    }

    .example {
        width: 96vw;
    }

    #aboutme .text {
        width: 92vw;
        font-size: 20px;
    }

    #code .content .title {
        width: 96vw;
    }

    #courses .content .title {
        width: 96vw;
    }
}

@media (max-width: 983px) {
    .me p {
        font-size: 20px;

    }
}

@media (max-width: 783px) {
    .me p {
        font-size: 19px;

    }
}

@media (max-width: 600px) {
    .me h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .img .avatar {
        max-width: 170px;
        height: 170px;
    }

    .me p {
        font-size: 15px;
    }

    .footer-items li {
        display: block;
        margin: 10px 0px;
        text-align: center;
    }
}